body {
    background: #444444;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}

button {
    font-size: 16px;
}

a {
    color: white;
    display: inline-block;
    padding: 10px;
}